/*main.css*/

html, body {
    min-height: 100%;
    margin:0;
    padding:0;
    overflow:hidden;
}
svg#play_area {
    width: 100%;
    min-height: 100%;
}

html, body {  }
svg { position:fixed; top:0; left:0; height:100%; width:100% }

path {
  fill: none;
  stroke: black;
  stroke-width: 2;
  stroke-dashoffset: 1000;
  stroke-dasharray: 10;
  animation: dash 50s linear infinite;
}

@keyFrames dash
{
  to {
    stroke-dashoffset: 0;
  }
}

text {
    pointer-events:none;
    user-select: none;
}