/*main.css*/

path {
  fill: none;
  stroke: black;
  stroke-width: 2;
  stroke-dashoffset: 1000;
  stroke-dasharray: 10;
  animation: dash 50s linear infinite;
}

@keyFrames dash
{
  to {
    stroke-dashoffset: 0;
  }
}

text {
    pointer-events:none;
    user-select: none;
}