/*main.css*/

html, body, #content {
    display:block;
    position:absolute;
    width: 100%;
    min-height: 100%;
    height: 500px;
    margin: 0;
    border: 0;
    padding: 0;
}
#content {
    display:block;
    position:absolute;
    width: 90%;
    min-height: 100%;
    left: 5%;
    margin: 0;
    user-select: none;
}
svg#play_area
{
    position: relative;
    min-height: 90%; /* fix me: set the hight to correct value */
    height: 550px;
    width: 100%;
    border: 1px solid #000;
    margin: 0;
}
svg#info_area
{
    position:absolute;
    top : 0;
    right: -2px;
    height: 600px;
    width: 200px;
    border: 1px solid #000;
    background: #FFF;
}

#panel {
    display:block-inline;
    width: 100%;
}

#top_menu_bar {
    position: relative;
    width: calc(100% - 200px); /*minus info area*/
    height: 50px;
    border: 1px solid #000;
    /*border-bottom: none;*/
    top:0;
}
#menu_bar_items_right_aligned {
    display: block;
    position: absolute;
    top: 15px;
    right:0;
}
#dev_tick {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
#dev_tick #dev_tick_checkbox {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    background: #FFF;
}
#reset {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}
#timer {
    display: inline-block;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

/* Loading page trick */
#content {
    display:none;
}
#loading {
    display:block;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#connections path {
  fill: none;
  stroke:url(#lineGrad);
  stroke-width: 2;
  stroke-dashoffset: 1000;
  stroke-dasharray: 10;
  animation: dash 50s linear infinite;
}

@keyFrames dash
{
  to {
    stroke-dashoffset: 0;
  }
}


svg {
    dominant-baseline: hanging;
}

#load_element .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid black;
}
.dot[dot='1'] {
    background-color: #ff8572;
    animation: bounce .5s infinite alternate;
    animation-delay: 0s;
}
.dot[dot='2'] {
    background-color: #72afff;
    animation: bounce .5s 0s infinite alternate;
    animation-delay: 0.25s;
}
.dot[dot='3'] {
    background-color: #91ff72;
    animation: bounce .5s 0s infinite alternate;
    animation-delay: 0.5s;
}
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
